.App {
  display: flex;
  display: inline;
  text-align: center;
}

.Component, .Weatherdiv {
  
  padding: 1em;
  border-radius: 10px;
}

.Component {
  
  background-color:aquamarine;
}

.Searchelement {
  padding: 1em;
  background-color: bisque;
}

.Weatherdiv {
  background-color: lavender;
}